/*Colour List
Background colour : #f9f9f9
Dark Blue: #003479
Lightblue: #0d3e80
Dark green: #39823c
Light green: #dff0d8
Red: #d43045
*/

/***************************
****************************
Base Styles
****************************
***************************/

@font-face {
    font-family: "VisbyCFBold";
    src: url("fonts/VisbyCF-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "VisbyCFHeavy";
    src: url("fonts/VisbyCF-Heavy.ttf") format("truetype");
}


body {
    margin: 0;
    font-family: "VisbyCFBold";
}
button, select {
    font-family: "VisbyCFBold";
}
b {
    font-family: "VisbyCFHeavy";
}
main {
    background-color: #f9f9f9;
}



/***************************
****************************
Layout Styles
****************************
***************************/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
[class*='col-'] {
    width: 100%;
}

@media (min-width: 48em) {
    [class*='col-'] {
        float: left;
    }
    .col-1-3 {
        width: 33.3333%;
    }
    .col-2-3 {
        width: 66.6666%;
    }
    .col-1-4 {
        width: 25%;
    }
    .col-3-4 {
        width: 75%;
    }
}

/***************************
****************************
Header Styles
****************************
***************************/

header {
    background-color: white;
 }
.header-img {
    height:40px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logout-btn {
    width: 130px;
    height: 38px;
    color: white;
    background-color: #d43045;
    border: none;
    margin: auto;
    display: block;    
}
.link-box {
    margin: auto;
    display: block;
    width: 160px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: gray;
    text-align: center;
}
.link-icon {
    text-align: center;
    padding-top: 5px;
}
.link-icon .fa {
    font-size: 1.5em;
    color: lightgray;
}
.link-info {
    padding-top: 1px;
}
.link-info a {
    padding-top: 1px;
    text-decoration: none;
    color: gray;
    font-family: "VisbyCFHeavy";
}
@media (min-width: 48em) {
    .logout-btn {
        float:right;
        margin-top: 30px;
        margin-right: 40px;
    }
    .link-box {
        float: right;
        text-align: left;
        margin-top: 30px;
        margin-bottom: 0px;
    }  
}    
@media (min-width: 100em) {
    .logout-btn {
        margin-right: 380px;
    }
}
    .hero {
        text-align: center;
        height: 150px;
    }
    .bg-image  {
        overflow: hidden;
        position: relative;
        margin: auto;
        width: 100%;
        height: 70px;
        margin: auto;
    }
    .update-details-btn {
        width: 140px;
        height: 30px;
        color: white;
        background: #003479;
        border: 2px solid white;
        margin: auto;
        display: block;
        padding: auto;
    }
@media (min-width: 48em) {
    .update-details-btn {
        margin-top: -30px;
        margin-right: 30px;
        color: white;
        background: transparent;
        border: 2px solid white;
        float: right;
        position: relative;        
    }
    .bg-image  {
        height: 140px;
    }
}

/***************************
****************************
Accordion Menu Styles
****************************
***************************/

.accordion {
    background-color: white;
    color: gray;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .acc-title {
      color: black;
  }
  .acc-title:hover, .accordion:hover  {
    background-color: #ddd;
 }
 .acc-title.active, .acc-title:hover  {
    color: #003479;
    font-family: "VisbyCFHeavy";
 }
  .panel {
    display: none;
    background-color: white;
    width: 100%;
    color: grey;
  }
  .panel-all {
      border-bottom: 2px solid lightgray;
      display: none;
  }
  .acc-menu {
    display: block;
    border: none;
    color: #003479;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
}
  .acc-menu:hover {
    background-color: transparent;
    color: lightgray;
  }
  .acc-menu .active {
    color: lightgray;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li.accordion {
    width: auto;
  }
  .limits {
        width: 190px;
        margin: auto;
        z-index: 99;
        position: relative;
        margin-bottom:10px;
  }
  .arrow-up {
    display: none;
  }
  .active .arrow-up {
    display: block;
    float: right;
  }
  .arrow-down {
    float: right;
    display: block;
  }
  .active .arrow-down {
    display: none
  }
.accordion .fa {
    font-size: 1em;
    width: 20px;
  }
.acc-menu .fa {
    font-size: 3em;    
}
  @media (min-width: 48em) {
    .panel-all {
         display: block !important;
    }
    .acc-menu {
        visibility: hidden;
    }
    .limits {
        margin-top: -150px;
        position: relative;
    }
    .acc-height {
        height: 100px;
    }
  }


/***************************
****************************
Details Styles
****************************
***************************/

.details {
    padding-bottom: 20px; 
    margin-bottom: 0px;
    margin-top: 10px;
}
.greeting {
    z-index: 99;
    position: relative;
    font-family: "VisbyCFHeavy";
    color: black;
    margin-top: 10px;
}
.details-body { 
    max-width: 300px;
    text-align: center;
    margin: auto;
    display:block;
}
.details-item {    
    width:200px;  
    margin: auto;
}
.details-item img {
    height: 200px;
    width: 200px;
    border: 1px solid white;
    top: 0px;
    position: relative;    
}
.details-button {
    width: 200px;
    height: 40px;
    background-color: #003479;
    color: white;
    border: none;
    margin-top: 0px;
    clear: left;
    margin: auto;
    display:block;
}
.contact {
    color: grey;
}
@media (min-width: 48em) {
    .details {
        height: auto;
        padding-bottom: 0px;
        margin-bottom: 40px;
        margin-top: 0px;
    }   
    .details-body {
        max-width: 380px;
        text-align: left;
        float: left;
        clear: left;
    }
    .details-item {    
        width:270px;  
        height:150px;
        margin-left: 0;
        
    }
    .details-item img {
        height: 270px;
        width: 270px;
        top: -120px;
    }
    .details-button {
        width: 270px;
        margin-top: 10px;
        margin-left: 0;
    }
} 
@media (min-width: 60.4em) {
    .greeting {
        margin-top: -30px;
        margin-bottom: 20px;
        color: white;
    }
    .details-body {
        padding-left: 60px;
        clear: none;
    }
}


/***************************
****************************
Event Styles
****************************
***************************/

.event {
    margin-bottom: 10px;
}
.event-bg{
    width:200px;
    height:200px; 
    margin: auto;
}
.event-bg img {
    width:200px;
    height:200px; 
    position: absolute;
}
.event-bg p {
    line-height: 1.3;
}
.event a {
    color: #0d3e80;
    font-family: "VisbyCFHeavy";
}
.countdown {
    position: relative; 
    color: white;
    display: block;
    margin:auto;
    font-size: 14px;
    max-width: 50px;
    text-align: center;
    padding: 60px;
}
.countdown b {
    font-size: 40px;
}
.link-one {
    padding-right: 20px;
}
.event-info {
    text-align: center;
    margin-top: -15px;
    margin-bottom: 20px;
}
.event-info span {
    border-bottom: 2px solid #003479;
}
.event-edit-btn {
    background-color:#39823c;
    color: white; 
    border: none;
    width: 130px;
    height: 40px;
    margin-top: 10px;
}
.event-ballot {
    background-color: #dff0d8;
    border: 2px solid #39823c;
    padding: 1px 15px 1px 15px;
    line-height: 150%;
    width: 50%;
    margin: auto;
}
.event-ballot-holder {
    height:0px;
}
@media (min-width: 48em) {
    .link-one {
        padding-right: 100px;
    }
    .event-info {
        text-align: left;
        width: 400px;
        float: left;
    }
    .event-bg {
        float:left;
        padding-right: 30px;
    }
    .event-edit-btn {
        float: right;
        margin: auto;
    }
    .event-inner {
        width: 400px
    }
    .event-ballot {
        width: 230px;
        float: left;
    }
    .event-ballot-holder {
        height:50px;
    }
}
@media (min-width: 80em) {
    .event-info {
        width: 600px;
    }
    .event-info span {
        padding-bottom: 5px;
    }
    .event-inner {
        width: 630px
    }
    .event-ballot {
        padding: 15px;
        width: 420px;
    }
}


/***************************
****************************
Featured Styles
****************************
***************************/

.featured-box {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 50%;
    min-width: 200px;
    background-color: white;
    border: 2px solid lightgray;
    border-bottom: 3px solid #003479;
    padding-top: 5px;
}
.featured-media {
    width: 200px;
    text-align: left;
    margin:auto;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 14px;
}
.featured-img {
    overflow: hidden;
    position: relative;
    width: 200px;
}
.featured-description {
    min-height: 40px;
}
select {
    height: 40px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 2px;
}
.select-quantity {
    width: 100px;
}
.featured-btn {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    font-family: "VisbyCFHeavy";
    color: #0d3e80;
    border: 2.5px solid #003479;
    background-color: white;
}
@media (min-width: 48em) {
    .featured-box {
        margin-top: 60px;
        width: 90%;
        padding: 10px 20px 20px 20px;
    }
    .featured-img {
        width: 90%;
        padding: 5px;
    }
    .featured-media {
        width: 90%;
        padding: 5px;
        margin: auto;        
    }
    .featured-description {
        min-height: 65px;
    }
}


/***************************
****************************
Footer Styles
****************************
***************************/

.footer-one {
    background-color: #003479;
    min-height:100px;
}
.footer-one img {
    height:40px;
    margin-left: 60px;
    margin-top: 30px
}
.footer-two {
    background-color: #0d3e80;
    min-height:28px;
}



